.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fighters-grid {
  width: calc(205px * 4);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.fighters-grid div {
  width: 200px;
  position: relative;
  transition: transform 0.3s;
  background-color: slategray;
  border-radius: 20px;
}

.fighters-grid div:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: +1;
}

.fighter-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8em;
  color: #fff;
  text-shadow: 2px 2px 10px #000;
  text-transform: uppercase;
}

.fighter-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#fighter-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: lightgreen;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

.char-model {}

.char-name {}